typing-extensions>=3.7;python_version<'3.8'
vector
hist
pyaml
requests
matplotlib
numpy
pandas
mplhep
tqdm
rich
numba
particle
awkward>=2
omegaconf
pyarrow
fsspec
comet_ml
h5py
zuko @ git+https://github.com/valsdav/zuko@master
mdmm @ git+https://github.com/the-moliver/mdmm@master
~                                                                                   
